body {
    text-align: center;
    font-family: "Happy Monkey", system-ui;
    background-color: #a2d2ff;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#a2d2ff, #EFB0C9);
}

h1, h2, h4, p {
    text-shadow: 0px 0px 1px black;
}

#wonds {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 5px solid #EFB0C9;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    text-shadow: 0px 0px 1px black;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    background: #EFB0C9;
    padding: 5px 10px;
    text-shadow: 0px 0px 1px black;
    border-radius: 5px;
    margin: 0;
}


#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.msg {
    margin-bottom: 10px;
}

.hint{
    margin-top: 0;
}



.gift-img {
    background-image: url("gifty.png");
    height: 400px;
    width: 400px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    border-radius: 5px;
}

#happy:hover {
    background-image: url("200.webp");
}


#hot:hover {
    background-image: url("hot.webp");
}

#cute:hover {
    background-image: url("cute.webp");
    height: 200px;
}

#cool:hover {
    background-image: url("cool.webp");
}

#cheers:hover {
    background-image: url("cheers.webp");
    height: 200px;
}